<mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openDialog()">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon menu-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list role="list">
            <a routerLink="test" routerLinkActive="active" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
            <a href="#" mat-list-item> BAR 1</a>
        </mat-nav-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
        
    </div>
</mat-drawer-container>
























<!-- <mat-toolbar color="primary">
    
    <span>My App</span>
  
    <span class="example-spacer"></span>
  
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  
      <mat-icon>favorite</mat-icon>
  
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
  
   
  
  <mat-drawer-container class="example-container" autosize>
  
    <mat-drawer #drawer class="example-sidenav" mode="side">
  
      <mat-nav-list role="list">
  
        <a href="#" mat-list-item><mat-icon>home</mat-icon> Home</a>
    
        <a href="#" mat-list-item><mat-icon>deployed_code</mat-icon> Deployement</a>
    
        <a href="#" mat-list-item><mat-icon>settings</mat-icon> Settings</a>
    
        <a href="#" mat-list-item><mat-icon>person</mat-icon> profile</a>
    
        <a href="#" mat-list-item><mat-icon >toggle_on</mat-icon> Configgration</a>
  
      </mat-nav-list>
  
    </mat-drawer>
    <div class="example-sidenav-content">
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae numquam iusto aliquam ut? Cupiditate porro doloremque repellat sint vero ea, inventore molestiae a distinctio officiis culpa possimus aut! Repudiandae.</div>
  
    </div>
  </mat-drawer-container> -->
