.example-spacer{
    flex: 1 1 auto;
}
mat-drawer-container{
    height: 100vh;
    mat-drawer{
        width: 13%;
    }
    .example-sidenav-content{
        width: 100%;
    }
}
.active{
   
    background-color: gray;
   ::ng-deep{
        .mdc-list-item__primary-text{
            color: white !important;
        }
   }
}

// .example-container{
//     width: 100vh;
// }